@use '../base/vars' as *;

.footer {
	background-color: $tone-950;
	color: $white;
	display: flex;
	flex-direction: column;

	//FOOTER PRINCIPAL
	&__content {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid $tone-500;
		padding: 3rem;
	}

	&__logo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
    flex: 1;

		a img {
			max-width: 250px;
			padding: 0.5em;
		}
	}

	&__main-menu,
	&__legal-menu {

    flex: 1;

		h4 {
			font-size: 1.8em;
			font-weight: 600;
		}
	}

	&__main-menu &__menu,
	&__legal-menu &__menu {
		font-weight: 300;
		list-style-type: none;
		padding-left: 0;

		li {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	//COPYRIGHT
	.post-footer {
		display: flex;
		align-items: center;
		padding: 1.5em 6em;
		justify-content: space-between;
		border-top: 1px solid $tone-500;

		&__social-icons {
			display: flex;
			gap: 5px;
		}

		&__social-icon {
			width: 25px;
			height: 25px;
			object-fit: contain;
			margin-right: 5px;
		}
	}
}
